<footer class="e-footer">
   <div class="e-content">
      <div class="e-left">
         <h3>Formas de pagamento</h3>
         <div class="e-formas-pagamento">
            <img src="/arquivos/payments-checkout.png">
         </div>
      </div>
      <div class="e-right">
         <h3>Selos de qualidade</h3>
         <ul class="e-selos">
            <div class="e-stamp">
               <div class="e-stamp__item">
                  <img src="/arquivos/selos-vtex.png?v1" alt="" width="90">
               </div>
            </div>
         </ul>
      </div>
   </div>
</footer>